.vantagens-bg{
  background: var(--cor-12);
}

.vantagens-bg h2{
  padding-top: 120px;
  padding-bottom: 60px;
}

.vantagens-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 80px;
  padding-bottom: 80px;
}

.vantagens-grid h3{
  padding: 8px 0px;
}

@media (max-width: 1200px){
  .vantagens-bg h2{
    padding-top: 60px;
  }
  .vantagens-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px){
  .vantagens-bg h2{
    padding-top: 30px;
  }
  .vantagens-grid{
    padding-bottom: 40px;
  }
  .vantagens-grid img{
    max-width: 22px;
    max-height: 22px;
  }
}

@media (max-width: 600px){
  .vantagens-grid{
    grid-template-columns: 1fr;
    gap: 20px;
  }
}